::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}
body{
    background: repeating-linear-gradient(to right,
    #f3c649 10px,
    #95ff69 40px,
    #05fff9 70px,
    #5ca2ff 100px,
    #ee10ff 130px,
    #ff4eb0 160px,
    #f3c649 180px);   
}
svg{
    display: block;
    margin: 100px auto 0 auto;
}
.pants{
    position: absolute;
    right: 6vw;
    top: 4vh;
    height: 38vh;
    animation: 1s linear 0s normal none infinite running pants;
    -webkit-animation: 1s linear 0s normal none infinite running pants;
    animation-timing-function: steps(24, end);
}
@keyframes pants {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@-webkit-keyframes pants {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.chart{
    width: 80%;
    display: block;
    margin: 60px auto 0 auto;
    transition: all ease 1s;
}
.chart:hover{
    transform: scale(1.01);
}
.vodkaa{
    width: 95%;
    display: block;
    margin: -65px auto 0 auto;
    transition: all ease 1s;
}
.vodkaa:hover{
    transform: scale(1.01);
}
.main-png{
    width: 95%;
    display: block;
    margin: 60px auto 400px auto;
    transition: all ease 1s;
}
.main-png:hover{
    transform: scale(1.01);
}





:root {
    --toast-border-radius: 0.25rem;
    --toast-theme-default: #fff;
  }
  
  .toast {
    font-size: 0.875rem;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: var(--toast-border-radius);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
    display: inline-block;
    position: fixed;
    right: 5vw;
    width: 400px;
    height: 475px;
    bottom: 2vh;
    overflow: hidden;
  }
  
  .toast_default {
    color: #212529;
    background-color: var(--toast-theme-default);
  }
  
  .toast:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  
  .toast__header {
    position: relative;
    padding: 0.5rem 2.25rem 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .toast__close {
    content: "";
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    width: 0.875em;
    height: 0.875em;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.875em auto no-repeat;
    border: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
  }

  .hotman{
    width:100%;
  }
  
  .toast__close:hover {
    opacity: 1;
  }
  
  .toast__body {
    padding: 1rem;
  }
  
  .toast_message .toast__body {
    padding-right: 2.25rem;
  }